@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.container {
    height: 100vh;
    font-family: 'Lato', sans-serif !important;
}

.scoreboard-block {
    display: none;
    position: absolute;
    height: 36vh;
    width: 40vh;
    background: white;
    right: 45px;
    top: 260px;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.15);
}

.scoreboard-header {
    position: relative;
    width: 100%;
    height: 5vh;
    background: #ffa600;
    background: -webkit-linear-gradient(to right, #ffa600, #ffa600);
    background: linear-gradient(to right, #ffa600, #ffa600);
}

.scoreboard-header > p {
    font-weight: bold;
    color: white;
    padding: 1.8vh;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8vh;
}

.scoreboard-info {
    position: relative;
    height: 30vh;
    width: 36vh;
    top: 45%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.scoreboard-info-header {
    position: relative;
    height: 2vh;
}

#info-tab-label {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    left: 1vh;
    font-weight: bold;
}

.info-beam-title {
    position: absolute;
    font-family: 'Alatsi', sans-serif;
    font-size: 1.4vh;
    font-weight: lighter;
    letter-spacing: 0.1vh;
    left: 1vh;
    line-height: 4.8vh;
}

#status-tab-label {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    right: 3vh;
    font-weight: bold;
}

.info-beam-status {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    right: 3vh;
    line-height: 4.8vh;
    float: left;
    text-align: left;
}

.scoreboard-info-beam {
    position: relative;
    height: 5vh;
    width: 100%;
}

.fa-times {
    color: rgb(170, 27, 27);
}

.fa-check {
    color: rgb(59, 141, 49);
}

.fa-clock {
    color: rgb(255, 190, 50);
}

.sb-logo {
    width: 15vh;
    margin: 0.6vh;
}